{% extends 'layout.html' %}

{% block title %}
<h3 class="heading">Create Profile</h3>
{% endblock %}

{% block content %}
<div class="container">
    <form action="/create_profile" method="POST" enctype="multipart/form-data" class="signup-container">

        <div><input type="text" name="username" id="username" placeholder="Username" required></div>

        <div><input type="tel" pattern="[0-9]{10}" name="phone" id="phone-number" placeholder="Mobile" required></div>

        <div><input type="file" name="image" id="image" accept="image/*"></div>

        <div><textarea name="description" id="description" placeholder="Enter about yourself" required></textarea></div>

        <div><button type="submit" class="btn btn-primary create-btn">Submit</button></div>
    </form>
</div>
{% endblock %}
