{% extends 'layout.html' %}

{% block title %}
<h3 class="heading">Sign Up</h3>
{% endblock %}

{% block content %}

<div class="container">
    <form action="/signup" method="post">
        <div><input type="text" name="username" id="username" placeholder="Username" required></div>
        <div><input type="email" name="email" id="email" placeholder="Email" required></div>
        <div><input type="password" name="password" id="password" placeholder="Password" required></div>
        <div><input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required></div>
        <button type="submit" class="signup-submit btn btn-primary">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/login">Sign in</a></p>
</div>
{% endblock %}